@import "tailwindcss";

@theme {
  --animate-move-left: move-left 60s linear infinite;
  @keyframes move-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}